@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$primary-font:"Poppins",sans-serif;

*{
    font-family: $primary-font;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    height: 100vh;
    width:100vw;
}